@font-face
    font-family: 'NimbusSanMonM-Reg'
    src: url("../../assets/fonts/NimbusSanMonM-Reg.otf")
    src: url("../../assets/fonts/NimbusSanMonM-Reg.otf") format("opentype")
    font-style: normal
@font-face
    font-family: 'NimbusSanMonM-Bla'
    src: url("../../assets/fonts/NimbusSanNov-Bla.otf")
    src: url("../../assets/fonts/NimbusSanMonM-Bla.otf") format("opentype")
    font-style: bold
@font-face
    font-family: 'NimbusSanMonM-BlaIta'
    src: url("../../assets/fonts/NimbusSanNov-BlaIta.otf")
    src: url("../../assets/fonts/NimbusSanMonM-BlaIta.otf") format("opentype")
    font-style: bold
@font-face
    font-family: 'NimbusSanMonM-Bol'
    src: url("../../assets/fonts/NimbusSanNov-Bol.otf")
    src: url("../../assets/fonts/NimbusSanMonM-Bol.otf") format("opentype")
    font-style: bold italic
@font-face
    font-family: 'NimbusSanMonM-BolIta'
    src: url("../../assets/fonts/NimbusSanNov-BolIta.otf")
    src: url("../../assets/fonts/NimbusSanMonM-BolIta.otf") format("opentype")
    font-style: normal
@font-face
    font-family: 'NimbusSanMonM-Med'
    src: url("../../assets/fonts/NimbusSanNov-Med.otf")
    src: url("../../assets/fonts/NimbusSanMonM-Med.otf") format("opentype")
    font-style: normal
@font-face
    font-family: 'NimbusSanMonM-MedIta'
    src: url("../../assets/fonts/NimbusSanNov-MedIta.otf")
    src: url("../../assets/fonts/NimbusSanMonM-MedIta.otf") format("opentype")
    font-style: normal
@font-face
    font-family: 'NimbusSanMonM-SemBol'
    src: url("../../assets/fonts/NimbusSanNov-SemBol.otf")
    src: url("../../assets/fonts/NimbusSanMonM-SemBol.otf") format("opentype")
    font-style: bold
@font-face
    font-family: 'NimbusSanMonM-SemBolIta'
    src: url("../../assets/fonts/NimbusSanNov-SemBolIta.otf")
    src: url("../../assets/fonts/NimbusSanMonM-SemBolIta.otf") format("opentype")
    font-style: bold italic
