@import "./_variables"
@import "./_fonts"
@import "./_reset.sass"
@import "../components/**/*.sass"

body
    font-family: Rosatom, sans-serif

.panel
    padding: ph(36) pw(34)
    border-radius: 34px
