@import "./_variables"
@import "./_fonts"
@import "./_reset.sass"
@import "../components/**/*.sass"

body
    font-family: "NimbusSanMonM", sans-serif
    max-width: 100vw
    overflow-x: hidden

.panel
    padding: ph(36) pw(34)
    border-radius: 34px

.splide
    margin: ph(40) pw(44)
