@import "./_variables"
@import "./_fonts"
@import "./_reset.sass"
@import "../components/**/*.sass"

body
    font-family: NimbusSanMonM
    max-width: 100vw
    overflow-x: hidden

.panel
    padding: ph(36) pw(34)
    border-radius: 34px

.splide
    margin: ph(40) pw(44)
    aspect-ratio: 1352 / 720

    @media (width <= 460px)
        aspect-ratio: 1352 / 1020

        // &#slider2
            // aspect-ratio: 1352 / 1120

    @media (width < 375px)
        aspect-ratio: 1352 / 1220

    .splide__track
        height: 100%

    .splide__list
        height: 100%

        .slide
            height: 100%

ul.splide__pagination
    width: max-content
    padding: pw(12)
    background: #12121280
    border-radius: 25px
    column-gap: pw(12)
    align-items: center
    left: 50%
    translate: -50% 0
    bottom: 2vw

    @media (width <= 600px )
        bottom: calc(ph(24) * -1)
        padding: 0
        background: #0000

        .splide__pagination__page
            background: #BED600
            opacity: 0.3

    .is-active
        scale: 1
        opacity: 1

    .splide__pagination__page
        height: 1vw
        width: 1vw

button.splide__arrow
    width: calc($index * 2.05)
    height: calc($index * 2.05)

    & > svg, img
        width: 60%
        height: 60%
