.join-project.panel
    .join-project__title Совместный проект
    .join-project__projects 
        a(href="#")
            img(src="../../../assets/svg/Naked Logo.svg" alt="Naked Science Logo")
        img(src="../../../assets/icons/x.svg" alt="x")
        a(href="#")
            img(src="../../../assets/svg/s7logo.svg" alt="S7 Logo") 