.slide2
    img.large(src="../../../../assets/image/slides/slider2/main.jpg" alt="the boy looks at the planes")
    .s7logo 
        include ../../../../assets/icons/s7.svg
        h2 Как готовят и тренируют пилотов