.slide2
    .flight
        img(src="../../../../assets/image/plane.png" alt="plane")
    .clouds 
        include ../../../../assets/svg/clouds.svg

    .slide2__container.slide2__container--2
        .left 
            h2 Для получения свидетельства нужно:
            article 
                img(src="../../../../assets/icons/heat.svg" alt="heat")
                span Окончить авиационный вуз или училище
            article 
                img(src="../../../../assets/icons/clipboardtext.svg" alt="clipboardtext")
                span Сдать экзамен в Росавиации
            article 
                img(src="../../../../assets/icons/clipboardtick.svg" alt="clipboardtick")
                span Пройти врачебно-летную экспертную комиссию
            p Ее проходят ежегодно. Оценивают физическое и ментальное здоровье пилотов