.slide2
    .flight
        img(src="../../../../assets/image/plane.png" alt="plane")

    .slide2__container
        .left 
            h2.mb Переобучение на конкретный тип самолета, а также практические тренировки на нем
            p Здесь изучают все системы «своего» самолета, включая 200 страниц руководства по управлению им. На экзамене любую из этих процедур пилот должен быть готов изложить наизусть
            p Потом проходят длительную тренажерную подготовку и выполняют тренировочные полеты, прежде чем выйти на рейс в качестве пилота-стажера