.slide 
    .slide__container 
        .slide__text-block 
            include ../../../../assets/icons/prelook.svg
            h2 Предварительный осмотр
            p Новый экипаж еще раз осматривает самолет. Сотрудники наземных служб авиакомпании или аэропорта тоже проверяют борт перед вылетом
        .slide__text-block 
            include ../../../../assets/icons/shild.svg
            h2 Проверка перед стартом
            p Бортпроводники проверяют все системы самолета по чек-листу. Если по любой системе есть сигнал о неисправности или другие замечания, бортпроводники оповещает инженерную службу для устранения проблемы