.slide2
    .flight
        img(src="../../../../assets/image/slides/slider2/pilots.png" alt="pilots")

    .slide2__container
        .left 
            h2.mb Crew Resource Management
            p Также изучают правила взаимодействия пилотов в кабине. Слаженность действий – важный аспект безопасности полета