.slide2
    .flight
        img(src="../../../../assets/image/slides/slider2/tank.png" alt="tank")

    .slide2__container
        .left 
            h2 Поддержание летных навыков
            p Пилот раз в год проходит проверку на маршруте с инструктором и дважды в год - сессию на тренажере
            p В S7 Training есть тренажеры всех типов самолетов компании: Airbus A320, Boeing 737-800, Embraer E170