.slide 
    .slide__container 
        .slide__text-block 
            include ../../../../assets/icons/flame.svg
            h2 Заправка
            p Самолеты обычно заправляют без пассажиров. Заправлять с ними разрешено только в присутствии пожарных и при наличии второго трапа. Машину заправщика всегда заземляют для безопасности
        .slide__text-block 
            include ../../../../assets/icons/shild.svg
            h2 Подготовка салона
            p Пока пилоты проверяют системы самолета, бортпроводники должны убедиться, что пассажирский салон готов к вылету и на борту есть все необходимое аварийно-спасательное оборудование (например, жилеты и кислородные маски) и аптечки