.slide2.slide2--dark 
    .flight
        img(src="../../../../assets/image/plane.png" alt="plane")

    .slide2__container 
        .left
            .slide__text-block 
                include ../../../../assets/icons/cap.svg
                h2 Подготовка салона
                p Пока пилоты проверяют системы самолета, бортпроводники должны убедиться, что пассажирский салон готов к вылету и на борту есть все необходимое аварийно-спасательное оборудование (например, жилеты и кислородные маски) и аптечки