.slide2
    img.all(src="../../../../assets/image/slides/slider2/pilots2.png" alt="pilots in class room")
    .slide2__container
        .left.left--up 
            h2 Дополнительные занятия
            p В любой момент пилот вправе попросить, а также ему могут назначить методический полет с инструктором либо подготовку по теории
            p Так, весной 2022 года все пилоты прошли дополнительные занятия, чтобы освежить знания по расчетам параметров полета при переходе с иностранного ПО на новое российское