.slide2
    .pilots2 
        include ../../../../assets/svg/s7-Пилоты4_go 2.svg
    .slide2__container
        .leftleft--10up
            .left
                h2 Возможности для обмена опытом
                p С 2022 года, сотрудничая с Air Arabia, компания S7 Airlines временно направляет своих пилотов в ОАЭ. Там они практикуют английский язык и ведут взаимный обмен ценным опытом
            .left
                h2 Приятного полета!  