include ../pug/splides.pug

include ../components/banner/banner.pug
include ../components/facts/facts.pug
include ../components/emergency/emergency.pug

section.splide(id= "slider1")
    .splide__track
        ul.splide__list
            li.splide__slide(data-splide-interval=1000) 
                include ../components/slides/slider1/1.pug
            li.splide__slide(data-splide-interval=1000)
                include ../components/slides/slider1/2.pug
            li.splide__slide(data-splide-interval=1000)
                include ../components/slides/slider1/3.pug
            li.splide__slide(data-splide-interval=1000)
                include ../components/slides/slider1/4.pug
            li.splide__slide(data-splide-interval=1000)
                include ../components/slides/slider1/5.pug
            li.splide__slide(data-splide-interval=1000)
                include ../components/slides/slider1/6.pug
            li.splide__slide(data-splide-interval=1000)
                include ../components/slides/slider1/7.pug


include ../components/news/news.pug
