.emergency
    display: block

    &__container
        margin: ph(40) pw(44) 0

        @media (width <= 768px)
            margin-inline: 16px
            margin-top: 32px

    &__title
        font-weight: 700
        +fz(36,1440,64)
        line-height: 112%
        letter-spacing: -0.02em
        color: #121212
        text-align: center
        margin-bottom: ph(40)

        @media (width <= 768px)
            margin-bottom: 32px

    &__blocks
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(max(48%,285px),1fr))
        column-gap: pw(28)
        row-gap: 24px

    &__block
        background: #F5F5F5
        display: flex
        flex-direction: column
        row-gap: ph(34)

        @media (width <= 768px)
            row-gap: 16px

        img
            border-radius: 24px
            flex-shrink: 0

    &__content
        display: flex
        flex-direction: column
        align-items: flex-start
        justify-content: space-between
        padding: 0px
        column-gap: 50px
        row-gap: ph(50)
        height: 100%

        @media (width <= 768px)
            row-gap: 0

        h3
            font-weight: 600
            +fz(20,1440,40)
            line-height: 110%
            letter-spacing: -0.02em
            color: #121212

            @media (width <= 768px)
                line-height: 130%

        p
            font-weight: 500
            +fz(14,1440,24)
            line-height: 150%
            letter-spacing: -0.02em
            color: #54565A

            @media (width <= 768px)
                line-height: 171%
                margin-bottom: 12px

        span
            position: relative
            display: inline-block
            // padding-inline: 0.2em

            &::before
                content: ""
                position: absolute
                width: 100%
                height: 10px
                background-image: url("../../../assets/svg/emergency/avocado-line.svg")
                background-repeat: no-repeat
                background-size: contain
                background-position: center
                bottom: -6px

                @media (width <= 768px)
                    top: 80%

            &.underlime
                &::before
                    background-image: url("../../../assets/svg/emergency/lime-line.svg")

    &__controls
        display: flex
        gap: clamp(16px,20 / 1440 * 100vw,20px)

        & > *
            border: 1px solid #121212
            display: grid
            place-items: center
            padding: 4px
            text-decoration: none
            font-weight: 600
            +fz(16, 1440, 20)
            line-height: 140%
            letter-spacing: -0.02em
            color: #121212
            background: #fff
            height: 48px

            &:nth-child(1)
                border-radius: 26px
                padding-inline: 36px

            &:last-child
                border-radius: 50%
                aspect-ratio: 1
                flex: 0 0 48px
