.emergency 
    .emergency__container 
        h2.emergency__title Из чего складывается безопасность полетов?
        .emergency__blocks 
            .emergency__block.panel
                img(src="../../../assets/image/emergency/1.jpg" alt="s7 young woman")
                .emergency__content
                    h3 Опыт, профессионализм и 
                        span алгоритмы
                    p Naked Science объясняет, как устроена подготовка пилотов и бортпроводников и в чем особенности работы профессионалов, благодаря которым пассажиры чувствуют себя уверенно.
                    .emergency__controls 
                        a(href="#") Читать
                        a(href="#") 
                            img(src="../../../assets/svg/emergency/heads.svg" alt="heads icon")

            .emergency__block.panel
                img(src="../../../assets/image/emergency/2.jpg" alt="s7 airbus")
                .emergency__content
                    h3 
                        span.underlime Безопасность 
                        |в воздухе начинается на земле
                    p Naked Science рассказывает, как обслуживают и ремонтируют самолёты и как это влияет на безотказную работу техники в воздухе.
                    .emergency__controls 
                        a(href="#") Читать
                        a(href="#") 
                            img(src="../../../assets/svg/emergency/heads.svg" alt="heads icon")