.slide
    background: linear-gradient(287.24deg, #6A7A76 -6.6%, #4B6062 93.25%)
    border-radius: 32px
    height: ph(720)
    color: #fff
    position: relative
    display: grid
    place-items: center
    overflow: hidden

    &--reset
        place-items: start

    &__container
        width: min(100%,873px)
        display: flex
        flex-direction: column
        row-gap: 24px

        &--wide
            width: auto
            margin: ph(100) pw(100)

    &__text-block
        display: grid
        grid-template-columns: max(48px,pw(92)) 1fr
        grid-auto-rows: auto
        grid-template-areas: "icon head" "EMPTY text"
        place-items: center start

        svg
            grid-area: icon
            width: 100%
            height: 100%

        h2
            grid-area: head
            font-weight: 600
            +fz(20,1440,40)
            line-height: 1
            letter-spacing: -0.04em

        p
            grid-area: text
            font-weight: 400
            +fz(12,1440,32)
            line-height: 119%

    .slide7
        z-index: 3
        max-width: 876px
        h2
            font-weight: 600
            +fz(20,1440,40)
            line-height: 1
            letter-spacing: -0.04em
            margin-bottom: ph(20)

        p
            +fz(16,1440,32)
            line-height: 119%

    .flight
        position: absolute
        right: 0
        bottom: ph(68)
        width: 70%
        display: flex
        justify-content: flex-end

        @media (height < 730px)
            bottom: -10%

        &--naked
            right: 41px
            bottom: 41px
            width: 150px
            height: 47px

            & > svg
                width: 100%
                height: 100%

    #takeoff
        margin-top: ph(60)

    img.large
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 80% 50%

    .man
        position: absolute
        z-index: 0
        bottom: 0
        left: pw(52)
        bottom: 0px
        width: 33%

        & > svg
            width: 100%

    .content-wrap
        display: flex
        flex-direction: column
        align-items: flex-end

        margin-left: auto
        z-index: 3

    .label
        background: #C4D600
        font-weight: 600
        +fz(18,1440,48)
        line-height: 1
        color: #090505
        padding-block: ph(44)
        padding-left: clamp(30px,64 / 1440 * 100vw,64px)
        border-radius: 90px 0 0 90px

        // position: absolute
        right: 0
        top: ph(60)
        max-width: 870px
        margin-left: 1em

    .content-block
        max-width: 696px
        // position: absolute
        right: pw(110)
        top: 284px
        margin: ph(40) pw(110) 0 1em

        h2
            font-weight: 600
            +fz(16,1440,40)
            line-height: 1.1
            letter-spacing: -0.04em
            margin-bottom: ph(20)

        p
            font-weight: 400
            +fz(14,1440,32)
            line-height: 1.19

    .s7logo
        position: absolute
        z-index: 2
        bottom: ph(102)
        width: min(580px, 97%)
        line-height: 1

        display: flex
        align-items: center
        justify-content: center
        column-gap: pw(31)
        font-weight: 700
        +fz(16,1440,32)

        h2
            width: fit-content
