.slide
    --width-block: 1352
    --height-block: 720

    background: linear-gradient(287.24deg, #6A7A76 -6.6%, #4B6062 93.25%)
    border-radius: 32px
    // height: ph(720)
    color: #fff
    position: relative
    display: grid
    place-items: center
    overflow: hidden
    margin: 0 5px

    &--reset
        place-items: start

    &__container
        width: min(100%,873px)
        display: flex
        flex-direction: column
        row-gap: 1vw

        &--wide
            width: auto
            margin: ph(100) pw(100)

    &__text-block
        display: grid
        grid-template-columns: max(48px,pw(92)) 1fr
        grid-auto-rows: auto
        grid-template-areas: "icon head" "EMPTY text"
        place-items: center start

        svg
            grid-area: icon
            width: 100%
            height: 100%

        h2
            grid-area: head
            font-weight: 600
            +fz(20,1440,40)
            line-height: 1
            letter-spacing: -0.04em

        p
            grid-area: text
            font-weight: 400
            // +fz(12,1440,32)
            font-size: calc($index)
            line-height: 119%

    .slide7
        --margin-index: 4
        z-index: 3
        width: min(876px, 63.848397%)
        margin: calc($index * var(--margin-index))

        h2
            font-weight: 600
            +fz(13,1440,40)
            line-height: 1
            letter-spacing: -0.04em
            margin-bottom: ph(20)

            @media (width <= 460px)
                margin-bottom: 1em

        p
            font-size: calc($index)
            line-height: 119%

            @media (width <= 600px)
                font-size: calc($index * 0.8)

        @media (width <= 600px)
            --margin-index: 2
        @media (width <= 460px)
            --margin-index: 1

    .flight
        position: absolute
        right: 0
        bottom: 5vw
        width: 70%
        height: 38%
        display: flex
        justify-content: flex-end

        // @media (height < 730px)
        //     bottom: -10%

        &--naked
            right: calc( 41 / var(--width-block) * 100cqw)
            bottom: calc( 41 / var(--width-block) * 100cqw)
            width: calc( 150 / var(--width-block) * 100cqw )
            height: unset
            aspect-ratio: 71 / 32

        & > svg, img
            width: 100%
            height: 100%
        & > img
            object-fit: cover
            object-position: left

    #takeoff
        margin-top: 6vw

        @media (width <= 460px)
            margin-top: 2vw

    img.large
        width: 100%
        height: 100%
        object-fit: cover
        object-position: 80% 50%

    .man
        position: absolute
        z-index: 0
        bottom: 0
        left: pw(52)
        bottom: 0px
        width: 33%

        & > svg
            width: 100%

    .content-wrap
        display: flex
        flex-direction: column
        align-items: flex-end

        margin-left: auto
        z-index: 3
        width: 64.349112%

    .label
        background: #C4D600
        font-weight: 600
        +fz(14,1440,48)
        line-height: 1
        color: #090505
        padding-block: 4cqh
        padding-left: clamp(30px,64 / 1440 * 100vw,64px)
        border-radius: 90px 0 0 90px

        // position: absolute
        right: 0
        top: ph(60)
        max-width: 870px
        margin-left: 1em

    .content-block
        max-width: 696px
        // position: absolute
        right: pw(110)
        top: 284px
        margin: 4vh pw(110) 0 clamp(30px,64 / 1440 * 100vw,64px)

        h2
            font-weight: 600
            +fz(16,1440,40)
            line-height: 1.1
            letter-spacing: -0.04em
            margin-bottom: ph(20)

        p
            font-weight: 400
            +fz(14,1440,32)
            line-height: 1.19

    .s7logo
        position: absolute
        z-index: 2
        bottom: 14.166667%
        width: min(615px, 97%)
        line-height: 1

        display: flex
        align-items: center
        justify-content: center
        column-gap: pw(31)
        font-weight: 700
        +fz(16,1440,32)

        h2
            width: fit-content

        svg
            width: 8.87574vw
