.slide
    .man 
        //- include ../../../../assets/svg/pilot.svg
        img(src="../../../../assets/image/slides/slider1/pilot.png" alt="pilot")

    .content-wrap
        .label 
            p Каждые 72 часа самолет проходит техобслуживание

        .content-block 
            h2 Подготовка к новому полету — часто сразу после завершения предыдущего 
            p Только что прилетевший экипаж 
                |осматривает самолет и заносит 
                |в Technical Logbook все возможные
                |замечания по рейсу. Технический персонал проверяет
                |самолет и отдельно проходится 
                |по замечаниям, если они есть