.slide 
    .slide__container 
        .slide__text-block 
            include ../../../../assets/icons/chear.svg
            h2 Повторный осмотр
            p Бортпроводники проводят инструктаж и рассказывают пассажирам об аварийно-спасательном оборудовании на борту
        .slide__text-block 
            include ../../../../assets/icons/rocket.svg
            h2 Запуск двигателей и руление 
            p Перед запуском двигателей пилоты проходятся по еще одному специальному чек-листу