.slide.slide--reset 
    .slide__container.slide__container--wide.slide7 
        h2 Противообледенительная обработка
        p Проводится в зимний период прямо перед взлетом (при наличии снега, льда, инея) рядом с ВПП, чтобы взлететь сразу после нанесения противообледенительной жидкости
        h2#takeoff Взлет
    .flight 
        include ../../../../assets/svg/flight.svg
    a.flight.flight--naked(href="#")
        include ../../../../assets/svg/Naked Logo.svg