.facts
    --delay: 0ms
    --duration: 2000ms
    --dasharray: 1860
    display: block

    &__container
        margin: ph(80) 0 ph(82)

    &__title
        +fz(36,1440,64)
        font-weight: 700
        line-height: 112%
        letter-spacing: -0.02em
        color: #121212
        text-align: center
        margin-bottom: ph(34)

        & > .circled
            // background: url("../../../assets/svg/facts/arounded.svg") no-repeat
            // background-size: 94%
            // background-position: center
            // padding: 12px
            position: relative

            & > svg
                position: absolute
                left: 50%
                top: 50%
                translate: -50% -50%
                width: min(219px, 110%)

                stroke-dasharray: var(--dasharray)
                stroke-dashoffset: var(--dasharray)

                &[inter]
                    animation: draw var(--duration) ease-in-out var(--delay)
                    animation-iteration-count: 1
                    animation-fill-mode: forwards

    &__blocks
        display: grid
        grid-template-columns: repeat(2, minmax(0,1fr))
        grid-template-areas: "a b" "c d" "e f"
        gap: 28px
        place-items: center
        padding-inline: pw(159)

        @media (width <= 768px)
            grid-template-columns: 100%
            grid-template-areas: "b" "a" "c" "d" "f" "e"

    &__block
        width: 100%
        & > picture, img
            border-radius: 28px
            overflow: hidden
        & > picture > img
            width: 100%

        &:nth-child(1)
            grid-area: a

        &:nth-child(2)
            grid-area: b
            position: relative
            & > picture
                position: relative
                // &::after
            & > svg
                position: absolute
                top: 40%
                right: 90%
                height: 23vh
                width: 20vw
                z-index: 2
                scale: 0 0
                transform-origin: 60% 0
                transition: transform .6s

                &[inter]
                    scale: 1 1

                @media (width <= 786px)
                    display: none

        &:nth-child(3)
            grid-area: c
            position: relative
            overflow: visible

            & > svg
                position: absolute
                height: 250px
                z-index: 2
                top: -150px
                left: -60px
                z-index: 2
                scale: 0 0
                // transition: transform cubic-bezier(.5,-0.5,.5,1.5) 0.6s
                // transform-origin: 100% 100%

                &[inter]
                    animation: flash 0.6s cubic-bezier(.5,-0.5,.5,1.5) 3 both alternate

        &:nth-child(4)
            grid-area: d
            position: relative

            & > svg
                position: absolute
                top: 0%
                left: 75%
                height: 23vh
                width: 20vw
                z-index: 2
                scale: 1 0
                transition: transform cubic-bezier(.5,-0.5,.5,1.5) 0.6s
                transform-origin: 50% 0

                &[inter]
                    scale: 1 1

        &:nth-child(5)
            grid-area: e

        &:nth-child(6)
            grid-area: f

    @keyframes draw
        0%
            stroke-dashoffset: var(--dasharray)

        100%
            stroke-dashoffset: 0

    @keyframes flash
        0%
            scale: 0 0

        100%
            scale: 1 1
