.facts 
    .facts__container 
        h2.facts__title Факты и только 
            span.circled факты
                include ../../../assets/svg/facts/arounded.svg
        .facts__blocks 
            .facts__block S7 Airlines — крупнейшая частная авиакомпания России. Авиакомпания выполняет до 320 рейсов в день.
            .facts__block.arounded#anim1 
                picture
                    source(srcset="../../../assets/image/facts/1.jpg" media="(min-width: 600px)")
                    img(src="../../../assets/image/facts/1.jpg" alt="") 
                include ../../../assets/svg/facts/2-3.svg
            .facts__block.arounded 
                picture 
                    source(srcset="../../../assets/image/facts/2.jpg" media="(min-width: 600px)")
                    img(src="../../../assets/image/facts/2.jpg" alt="" srcset="")
            .facts__block Ремонт и техобслуживание самолетов S7 Airlines проводят специалисты S7 Technics, крупнейшего провайдера технического обслуживания воздушных судов в России и СНГ.
            .facts__block В учебном центре S7 Training есть авиационные тренажеры всех типов самолетов из парка авиакомпании — Airbus A320, Boeing B737, Embraer E170. Во время тренировки ощущения пилота максимально соответствуют реальному полету.
            .facts__block.arounded 
                picture 
                    source(srcset="../../../assets/image/facts/3.jpg" media="(min-width: 600px)")
                    img(src="../../../assets/image/facts/3.jpg" alt="" srcset="")