include ../news-card/news-card.pug
.news 
    .news__container 
        h2.news__title Новости 
            span авиации

        ul.news__list
            each i in news 
                li
                    +news-card(i)