.banner
    position: relative
    color: #fff
    background: url("../../../assets/image/banner.jpg") no-repeat
    background-size: cover
    background-position: 100% 0%
    margin: 22px 20px
    min-height: calc(100dvh - 44px)
    display: grid
    place-items: center start

    @media (width <= 768px)
        min-height: 887px

    &.gt768
        @media (width <= 768px)
            display: none
    &.lt768
        display: none
        background: linear-gradient(252.65deg, #6DDCE5 43.35%, #00C0BF 97.37%)
        @media (width <= 768px)
            display: block

        #banner2
            max-width: unset
            width: 100vw
            object-fit: cover
            object-position: center
            margin-left: calc(-1 * pw(34) - 20px)
            margin-right: calc(-1 * pw(34) - 20px)

        &:where(div,p)
            text-align: center

    &__container
        display: flex
        flex-direction: column
        align-items: flex-start
        padding: 0px
        gap: 30px
        width: min(100%, 786px)
        margin-bottom: ph(76)

    &__title
        font-weight: bold
        letter-spacing: -0.04em
        +fz(48,1440,150)

    &__text-block
        display: flex
        flex-direction: column
        align-items: flex-start
        padding: 0px
        gap: 20px

        & > p:first-child
            font-weight: 500
            +fz(24,1440,40)
            line-height: 120%
            letter-spacing: -0.02em

        & > p:nth-child(2)
            font-weight: 500
            +fz(16,1440,20)
            line-height: 140%
            letter-spacing: -0.02em
            font-variant: small-caps
