.banner.panel.gt768
    .banner__container 
        .banner__title На высоте
        .banner__text-block 
            p Вместе с профессионалами S7 Airlines разбираемся, как обеспечивается безопасность полётов
            p Спойлер: узнаем о процессе обучения и подготовки пилотов, бортпроводников и тонкостях технического обслуживания самолётов
    //- include ../join-project/join-project.pug

.banner.panel.lt768 
    .banner__title На высоте
    img#banner2(src="../../../assets/image/banner2.png" alt="banner")
    .banner__text-block 
        p Вместе с профессионалами S7 Airlines разбираемся, как обеспечивается безопасность полётов
        p Спойлер: узнаем о процессе обучения и подготовки пилотов, бортпроводников и тонкостях технического обслуживания самолётов
    include ../join-project/join-project.pug