.banner.panel
    .banner__container 
        .banner__title На высоте
        .banner__text-block 
            p Вместе с профессионалами S7 Airlines разбираемся, как обеспечивается безопасность полётов
            p Спойлер: узнаем о процессе обучения и подготовки пилотов, бортпроводников и тонкостях технического обслуживания самолётов
    include ../join-project/join-project.pug